[submodule "pomodoro"]
	path = pomodoro
	url = https://github.com/limxingzhi/pomodoro-timer.git
[submodule "vue-name-gen"]
	path = vue-name-gen
	url = https://github.com/limxingzhi/vue-name-generator.git
[submodule "sb-text"]
	path = sb-text
	url = https://github.com/limxingzhi/sb-text.git
[submodule "markdown"]
	path = markdown
	url = https://github.com/limxingzhi/markdown-viewer.git
